h1{
    font-weight: bold;
    font-size: 2cm;
    text-decoration: underline;
    text-align: center;
    }

p{
    font-family: serif; 
    text-align: center;
 }
 
 image{
     display: block;
     margin: auto;
     width: 250px;
     height: 300px;
 } 

 body{
    background-color: rgb(161, 206, 223);
    }

    ul {
        width: 8%;
        margin: auto;
        font-size: 0.5cm;
    }
